.navbar {
    background: #111;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
  }
  
  .navbar a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
  }
  